h1 {
    color: rgb(51, 154, 104);
}

h2 {
    color: black;
}

body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#total {
    float: right;
}

#ranks {
    float: left
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 154, 104);
    color: white;
}