h1 {
    color: green;
}

h2 {
    color: black;
}

body {
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.total {
    float : right;
}

.ranks {
    float : left
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: green;
}