<div class="header-container">
    <script type="module" src="../scripts/headerUtil.js" defer></script>
    <div class="header">
        <input type="image" id="logo" alt="Home" src="../images/logo.png">

        <div class="header-heading header-1">
            Carbon Challenge
        </div>
        <div class="header-heading header-2">
            <a id="signOut" href="#" class="header-button">Sign out</a>
        </div>

    </div>

    <div class="ribon" id="participant">
        <div class="ribon-heading">
            <a href="dashboard.html">Dashboard</a>
        </div>
        <div class="ribon-heading">
            <a href="challenges.html">Challenges</a>
        </div>
        <div class="ribon-heading">
            <a href="leaderboard.html">Group leaderboard</a>
        </div>
        <div class="ribon-heading">
            <a href="individualmetrics.html">Individual metrics</a>
        </div>
        <div class="ribon-heading">
            <a href="groupmetrics.html">Group metrics</a>
        </div>
        <div class="ribon-heading">
            <a href="settings.html">Settings</a>
        </div>
    </div>

    <div class="ribon"  id="moderator">
        <div class="ribon-heading">
            <a href="analytics.html">Analytics</a>
        </div>
        <div class="ribon-heading">
            <a href="modchallenges.html">Challenges</a>
        </div>
        <div class="ribon-heading">
            <a href="submissions.html">Submissions</a>
        </div>
    </div>
</div>
