<div class="footer-container">
    <div class="footer">
        <div class="footer-heading footer-1">
            <h3 style="font-size: 2rem;">About Us</h3>
            <a href="/policies/privacyPolicy.html" style="margin-bottom: 5px;"> Privacy Policy</a>
            <a href="/policies/terms.html" style="margin-bottom: 5px;">Terms and Conditions</a>
            <a href="/policies/accessability.html" style="margin-bottom: 5px;">Accessibility Statement</a>
            <a href="/policies/cookies.html" style="margin-bottom: 5px;">Cookie Statement</a>
            <a href="/sitemap.xml" style="margin-bottom: 5px;">Sitemap</a>

        </div>
        <div class="footer-heading footer-2">
            <h2 style="font-size: 2rem;">Contact Us</h2>
            <a href="mailto:pressoffice@exeter.ac.uk" target="_blank" rel="noopener" style="margin-bottom: 5px;">pressoffice@exeter.ac.uk</a>
            <a href="tel:01326370400" style="margin-bottom: 5px;">01326 370400</a>
        </div>
        <div class="footer-heading footer-3">
            <h2 style="font-size: 2rem;">Social media</h2>
            <a href="https://www.facebook.com/exeteruni/" style="margin-bottom: 5px;">Facebook</a>
            <a href="https://www.linkedin.com/school/university-of-exeter/posts/" style="margin-bottom: 5px;">LinkedIn</a>
            <a href="https://www.instagram.com/uniofexeter/" style="margin-bottom: 5px;">Instagram</a>
        </div>
    </div>
</div>