.card{
    background-color: var(--main);
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
}
.card:hover{
    background-color: var(--second);
}
.title{
    font-weight: bold;
}

.text{
    font-style: italic;

}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 15rem 2rem 15rem;
}

.c-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}