.ribon {
    top: 4.5rem;
    left :0;
    background-color: rgb(168, 202, 186);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}

.moderator {
    display: none;
}

.header {
    padding: 0.5rem;
}

.header-heading {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.ribon-heading {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left :0;
}

.ribon-heading a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.ribon-heading a:hover {
    color: var(--main);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover{
    cursor: pointer;
}

.modal{
    display:none;
    z-index: 2;
    position: fixed;
    left:50%;
    top:50%;
    padding: 2rem;
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
    padding:2rem;
    transform: translate(-50%, -50%);
}
#evidanceForm {
    gap:5px;
    display: flex;
    flex-direction: column;
}

#log{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.submission{
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
    box-shadow: 0 0 50px rgb(191, 190, 190);
}

.title{
    font-weight: bold;
}

.challenge_title{
    color: black;
    font-size : 20px;
    padding:1rem;
}

.card{
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
    display:flex;
    flex-direction: column;
}

#submissions-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.evidence-photo{
    max-height: 100px;
    max-width:100px;
    padding: 1rem;;
}

.feedback{
    font-style: italic;
    color:black;
}