.ribon {
    top: 4.5rem;
    left :0;
    background-color: rgb(168, 202, 186);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
}

.moderator {
    display: none;
}

.header {
    padding: 0.5rem;
}

.header-heading {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.ribon-heading {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    left :0;
}

.ribon-heading a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.ribon-heading a:hover {
    color: var(--main);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover{
    cursor: pointer;
}

.modal{
    display:none;
    z-index: 2;
    position: fixed;
    left:50%;
    top:50%;
    padding: 2rem;
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
    padding:2rem;
    transform: translate(-50%, -50%);
}
#evidanceForm {
    gap:5px;
    display: flex;
    flex-direction: column;
}

#log{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.submission{
    background-color: var(--main);
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
}

.submission:hover{
    background-color: var(--second);
}

.title{
    font-weight: bold;
}

.challenge_title{
    color: white;
    font-size : 20px;
    padding:1rem;
}

.card{
    background-color: white;
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
    display:flex;
    flex-direction: column;
}

#submissions-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.evidence-photo{
    max-height: 100px;
    max-width:100px;
    padding: 1rem;;
}

.feedback{
    font-style: italic;
    color:black;
}


/* MOVE THIS TO A SEPERATE FILE THAT IT IS FOR*/
.key-stats h2 {
    width: 30%;
    border: 2px groove var(--second);
    border-width: thick;
    min-width: 250px;
    margin: 1rem;
    padding: 1rem;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.key-stats {
    display: flex;
    justify-content: center;
}

.graph-block {
    display: flex;
    justify-content: center;
    background-color: var(--main);
}

.graph {
    padding: 2rem;
    margin: 2rem;
    background-color: var(--second);
}

.table {
    margin: 1rem;
    background-color: var(--second);
}

.filters {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.filters button {
    margin: 1rem;
}


.info-section {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.info-block {
    background: var(--second);
    padding: 20px;
}

.icon-part {
    width: 80px;
    height: 80px;
    padding: 20px;
    border-bottom: 2px solid rgb(51, 154, 104);
}

#stats {
    width: 80px;
    height: 80px;
}