h1 {
    text-align: center;
    font-size: 3rem;
}

.key-stats h2 {
    width: 30%;
    border: 2px groove rgb(140, 240, 165);
    border-width: thick;
    min-width: 250px;
    margin: 1rem;
    padding: 1rem;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.key-stats {
    display: flex;
    justify-content: center;
}

.graph-block {
    display: flex;
    justify-content: center;
    background-color: rgb(210, 240, 220);
    margin-left: 4rem;
    margin-right: 4rem;
}

.graph {
    padding: 1rem;
    align-items: center;
}

.table {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
}

#data-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

#data-table th {
    background-color: var(--main);
    color: white;
    padding: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

#data-table td {
    padding: 10px;
    border-bottom: 1px solid white;
    text-align: center;
}

#data-table tr:nth-child(even) {
    background-color: white;
    align-items: center;
}

#data-table tr:hover {
    background-color: var(--second);
    transition: 0.2s;
}

.filters {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.filters button {
    margin: 1rem;
}


.info-section {
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.info-block {
    background: rgb(140, 240, 165);
    padding: 20px;
}

.icon-part {
    width: 80px;
    height: 80px;
    padding: 20px;
    border-bottom: 2px solid rgb(51, 154, 104);
}

#stats {
    width: 80px;
    height: 80px;
}