:root {
  --main: rgb(51, 154, 104);
  --second: rgb(140, 240, 165);
  --button-main: #4CAF50;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main);
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--second);
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Trebuchet MS';
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    width: 100%;
    min-height: auto;
    left: 0;
    top: 0;
    background-color: var(--main);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: bold;
}

.header-heading {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 2rem;
    padding: 30px 40px;
}

.header-heading a {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    display: inline-block;
    padding: 10px 22px;
    margin-left: 12px;

    background: var(--button-main);
    color: white;

    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
}

.header-heading h1 {
    color: white;
}

.header-heading.header-1 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.header-heading.header-2 {
    font-size: 1rem;
}

.total-screen {
    display: flex;
    padding-top: 4rem;
    padding-right: 2rem;
}

.total-text {
    padding-right: 8rem;
    text-align: justify;
}

.total {
    border: 2px groove var(--second);
    border-width: thick;
    padding: 1rem;
    min-width: 250px;
    margin: 10rem;
    align-items: center;
    background-color: #DFF2DF;
}

.rank-screen {
    display: flex;
    padding-top: 4rem;
}


.rank-text {
    padding-left: 8rem;
    text-align: justify;
}

.rank {
    padding-left: 4rem
}

.award-screen {
    display: flex;
    padding-top: 4rem;
}

.award-text {
    padding-right: 8rem;
    text-align: justify;
}

.award {
    padding-top: 6rem;
    padding-right: 4rem;
}


.body-container {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.footer {
    width: 100%;
    position: static;
    background-color: var(--main);
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.footer-heading a {
    color: white;
    text-decoration: none;
}

.footer-heading h2 {
    color: white;
}

.policy {
    margin-left:15rem;
    margin-right:15rem;
    margin-top:5rem;
    margin-bottom:5rem;
}

#logo{
    max-width: auto;
    max-height: 50px;
}


#evidanceForm {
    gap:5px;
    display: flex;
    flex-direction: column;
}

.in-button {
    padding:1rem;
    background-color: var(--second);
    color: white;
    font-size: medium;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
}

.in-button:hover{
    background-color: var(--main);
}

.page-section:first-child {
    background-image: url('../images/forest.png');
    background-size: cover;
    background-position: center;
}

.page-section:nth-child(even) {
    background-color: #F4F9F4;
    padding: 3rem 2rem;
}

.page-section:nth-child(odd) {
    background-color: white;
    padding: 3rem 2rem;
}

.info-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
    grid-template-columns: repeat(autofit, minmax(220px, 1fr));
}

.info-block {
    padding-top: 20px;
    padding-right: 20px;
}

.icon-part {
    width: 80px;
    height: 80px;
    padding: 20px;
    border-bottom: 2px solid rgb(51, 154, 104);
}

#climate {
    width: 80px;
    height: 80px;
}

#impact {
    width: 80px;
    height: 80px;
}

#group {
    width: 80px;
    height: 80px;
}

#step {
    width: 80px;
    height: 80px;
}

.error{
    color:red;
    visibility: hidden;
}