:root {
  --main: rgb(51, 154, 104);
  --second: rgb(60, 180, 95);
  --button-main: #4CAF50;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--main);
}

h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--second);
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
}

h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--main);
}

body {
    margin: 0;
    background-color: white;
    font-family: 'Trebuchet MS';
    display: flex;
    flex-direction: column;
}

.header {
    min-height: auto;
    left: 0;
    top: 0;
    background-color: var(--main);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-weight: bold;
    align-items: center;
}

.header.index {
    position: fixed;
    width:100%;
}

.header-heading {
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.header-heading a {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
    display: inline-block;
    padding: 10px 22px;
    margin-left: 12px;

    background: var(--button-main);
    color: white;

    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: all 0.2s ease;
}

.header-heading h1 {
    color: white;
}

.header-heading.header-1 {
    font-size: 3.75rem;
    text-align: center;
    color: white;
}

.header-heading.header-2 {
    font-size: 1.5rem;
}

.footer {
    width: 100%;
    position: static;
    background-color: var(--main);
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-heading a {
    color: white;
    text-decoration: none;
}

.footer-heading h2 {
    color: white;
}

.policy {
    margin-left:15rem;
    margin-right:15rem;
    margin-top:5rem;
    margin-bottom:5rem;
}

.indent {
    margin-right: 15rem;
    margin-left: 15rem;
}

.spacer {
    margin-bottom: 5rem;
}

#logo{
    max-height: 100px;
    padding-left: 1rem;
}

.in-button {
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--second);
    color: white;
    font-size: large;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
}

.second-button {
    padding: 1rem;
    margin: 0.5rem;
    background-color: white;
    color: var(--second);
    border: 2px solid var(--second);
    font-size: large;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
}

.button-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.in-button:hover{
    background-color: var(--main);
}

.header-button {
    padding: 1rem;
    margin: 1rem;
    background-color: var(--second);
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
}

.header-button:hover{
    background-color: white;
    color: var(--main);
}

.error{
    color:red;
    visibility: hidden;
}

.total {
    width: fit-content;
    border: 2px solid var(--second);
    border-radius: 12px;
    min-width: 250px;
    margin: 1rem;
    padding: 0.75rem;
    color: var(--main);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

#backdrop{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.dialog{
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

.dialog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: var(--second);
}
