.submission{
    background-color: var(--main);
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
}

.submission:hover{
    background-color: var(--second);
}
.title{
    font-weight: bold;
}

.challenge_title{
    color: white;
    font-size : 20px;
    padding:1rem;
}
.name{
    font-style: italic;

}
.card{
    background-color: white;
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
    display:flex;
    flex-direction: column;
}

#submissions-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.submission-group {
    border: 2px solid red;
    margin-bottom: 20px;
    padding: 10px;
}

.evidence-photo{
    max-height: 100px;
    max-width:100px;
    padding: 1rem;;
}


.evidence-photo:hover{
    transform: scale(2);
}