.submission{
    background-color: var(--main);
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
}

.submission:hover{
    background-color: var(--second);
}
.title{
    font-weight: bold;
}

.name{
    font-style: italic;

}
.card{
    background-color: white;
    margin:1rem;
    padding:1rem;
    border-radius: 2rem;
}

#submissions-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.submission-group {
    border: 2px solid red;
    margin-bottom: 20px;
    padding: 10px;
}