body {
    margin: 0;
    background-color: var(--second);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;   
}

.ls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70.9vh;
    padding: 3rem;
    margin: 0;
}

.ls-form {
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
    padding:2rem;
}

.header-heading.header-1 {
    font-size: 2rem;
    text-align: center;
    color: white;
}

.login {
    gap:5px;
    display: flex;
    flex-direction: column;

}

p a{
    text-decoration: none;
    color: var(--second);
}

.TandC{
    display:flex;
    flex-direction: row;
}