body {
    background-color: rgb(140, 240, 165);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    margin-top: 10rem;
}

.signup-form {
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 8px;
    color: black;
    text-align: center;
}